body {
    background: linear-gradient(45deg, #13547a, #80d0c7);
    margin: 0;
}

#main {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

video {
    border: 3px solid #ffffff;
    border-radius: 25px;
}

video:focus {
    outline: none;
}

.controllers {
    margin-top: 20px;
}

.controllers > ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

form > input {
    display: none;
}

.controllers > form > label, button {
    display: block;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: #ffffff;
    cursor: pointer;
}

.controllers > form > label:hover, button:hover {
    background: #ffffff;
    color: #4b94a1;
	transition-duration: 0.7s;
}

#controller {
    height: 30px;
    width: 400px;
    background: rgb(255,117, 140, 0.25);
    border: 3px solid #ffffff;
    position: relative;
    margin: 0;
}

#inside-controller {
    background: linear-gradient(to left, #ff758c, #ff7eb3);
    height: 100%;
    width: 200px;
    max-width: 400px;
    min-width: 16px;
    display: inline-block;
    position: absolute;
}

.drag {
    display: inline-block;
    width: 8px;
    height: 100%;
    opacity: 100%;
    cursor: pointer;
}

#right {
    float: right;
    background: #ffffff;
}

#left {
    background: #ffffff;
}

button {
    margin-top: 20px;
    background: rgb(0, 0, 0, 0);
}

#main > #timestamps {
    width: 200px;
    margin-top: 20px;
}

#main > #timestamps > div {
    display: block;
    border: 2px solid #ffffff;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    background: rgb(0, 0, 0, 0);
    color: #ffffff; /*#ff758c*/
    width: 80px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

#ending {
    float: right;
    text-align: center;

}

#beginning {
    float: left;
}

#container {
    height: 30px;
    width: 410px;
    position: relative;
    margin: 0;
}

#containerBackground {
    background: purple;
    width: 400px;
    position: absolute;
    left: 5px;
    height: 100%;
}

#dragThis {
    background: black;
    height: 100%;
    width: 50px;
    outline: 5px 0px 0px 0px;
    outline-offset: -5px;
}

#dragThis > div {
    outline: 1px white solid;
    background: rgb(0,0,0,0);
    height: 100%;
    width: 5px;
    display: inline-block;
}

.ui-resizable-e {
    float: right;
}