{% extends 'base.html' %}

{% block head %}
<title>EDIT</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}


{% block body %}
<div id="main">
    <video id="edit-video" controls>
        <source src="static/input/{{ videoPath }}" type="video/mp4" id="source">
    </video>

    <div id="timestamps">
        <div id="beginning">START</div>
        <div id="ending">END</div>
    </div>

    <div class="controllers">
        <div id="container">
            <div id="containerBackground"></div>
            <div id="dragThis"></div>
            </div>
    </div>

    <form action="/cut" method="POST" enctype="multipart/form-data" id="submitForm">
        <input type="text" name="filePath" id="filePath" value="{{ videoPath }}">
        <input type="text" name="start" id="start">
        <input type="text" name="end" id="end">
    </form>

    <button>Save</button>
    <script src="{{ url_for('static', filename='js/controller.js') }}"></script>
</div>
{% endblock %}