{% extends 'base.html' %}

{% block head %}
<title>HOMEPAGE</title>
{% endblock %}


{% block body %}
<div id="main">
    <div class="controllers">

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name='video' id="file" onchange="this.form.submit();">
            <label for="file">upload a file</label>
        </form>

    </div>
</div>
{% endblock %}